@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}



<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="css/site.css" />

</head>
<body>

    <div id="PageContents"></div>
    <br />


    <script src="js/dynamic.js" asp-append-version="true"></script>
        <script src="js/index.js" asp-append-version="true"></script>
        <script>StartMe()</script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>


